body {
  font-weight: 300;
  background: #FFFFFF;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

#mapContainer {
  height: 650px;
  width: 650px;
  background: lightgray;
  margin: 10 auto;
}

.lot-info {
  background: pink;
  height: 50px;
  width: 200px;
  border-radius: 3px;
  bottom: 30px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.10);
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 10px;
  position: absolute;
  right: 10px;
  z-index: 1;
}
